{% extends '_base.html' %}

{% block meta %}
<title>KutuBuku</title>
{% endblock meta %}

{% block content %}
<main class="bg-background">
    <h1 class="font-raleway text-center font-[700] text-2xl">Daftar Membaca</h1>
    <div class="container mx-auto">
        <div class="grid grid-cols-2 gap-8">
            {% for novel in novels %}
            <div class="flex bg-white p-8 gap-4 rounded-2xl shadow-md">
                <img src="{{ novel.img_src }}" alt="{{ novel.title }}" width="128px" class="rounded-xl">
                <div class="flex flex-col w-full justify-between">
                    <div>
                        <h3 class="font-raleway font-[700] text-2xl">{{ novel.title }}</h3>
                        <p class="font-montserrat">{{ novel.author }}</p>
                    </div>
                    <div class="">
                        <p class="font-montserrat">Kamu telah membaca 0/{{ novel.chapters }} halaman</p>
                        {% with progress=0 total=novel.chapters %}
                        <div class="bg-gray-300 w-full h-2 rounded-lg shadow-inner">
                            <div class="bg-blue-500 h-4 rounded-lg transition-all duration-500" style="width: 0%"></div>
                        </div>
                        {% endwith %}
                        <p class="font-raleway text-[#101010] opacity-80">Terakhir membaca 28/10/2023</p>
                    </div>
                    <button class="font-raleway px-4 py-2 border-[#115BFB] border-[1px] rounded-xl self-start">Lanjut membaca</button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock content %}