{% extends '_base.html' %}
{% load static %}

{% block meta %}
<title>KutuBuku</title>
{% endblock meta %}

{% block content %}
<main class="h-full bg-white mb-4 font-raleway">
    <div class="container mx-auto pb-5 px-5 pt-24">
        <div class="flex flex-col w-full mx-auto text-center mb-5">
            <h3 class="text-4xl mb-4">Mau baca buku apa hari ini?</h3>
            {% include 'search_bar.html' %}
        </div>
    </div>
</main>

<script>
    let bookmarkButtons = document.querySelectorAll('.bookmark-button');
    bookmarkButtons.forEach(button => {
        button.addEventListener('click', function() {
            let icon = button.querySelector('.bookmark-icon');
            if(icon.style.fill === "" || icon.style.fill === "none") {
                icon.style.fill = "#34D399";
            } else {
                icon.style.fill = "none";
            }
        });
    });
</script>
{% endblock content %}