{% load static %}

<style>
    #toggleCheckbox:checked + .toggle-down {
        display: none;
    }

    #toggleCheckbox:checked + .toggle-up {
        display: block;
    }
</style>

<main>

    <div class="flex flex-row gap-8 pb-12">
        <div class="flex flex-row w-full border-[#101010] border-[1px] border-opacity-80 rounded-full pr-1 pl-4 py-1">
            <input id="search-input" type="text" placeholder="Novel apa yang ingin kamu cari?" class="flex-grow bg-transparent focus:outline-none">
            <button>
                <img src="{% static 'img/search.svg' %}" alt="">
            </button>
        </div>
        <select id="sort-option" class="border-[#101010] border-[1px] border-opacity-80 rounded-lg bg-transparent px-6 py-2 font-raleway">
            <!-- <option value="0">Terakhir baca</option> -->
            <option value="popularity">Paling populer</option>
            <option value="rating">Rating tertinggi</option>
            <option value="alfabet">Alfabet</option>
        </select>
        <select id="genre-filter" class="border-[#101010] border-[1px] border-opacity-80 rounded-lg bg-transparent px-6 py-2 font-raleway">
            <option value="">Semua genre</option>
            <option value="Cheat Systems">Cheat Systems</option>
            <option value="Comedy">Comedy</option>
            <option value="Cultivation">Cultivation</option>
            <option value="Fantasy">Fantasy</option>
            <option value="LitRPG">LitRPG</option>
            <option value="Mystery">Mystery</option>
            <option value="Romance">Romance</option>
            <option value="Sci-fi">Sci-fi</option>
            <option value="Slice of Life">Slice of Life</option>
            <option value="Sports">Sports</option>
            <option value="Thriller">Thriller</option>
        </select>
        <button id="toggleButton">
            <img src="{% static 'img/sort_desc.svg' %}" alt="descending" class="block h-full" id="downArrow">
            <img src="{% static 'img/sort_asc.svg' %}" alt="ascending" class="hidden" id="upArrow">
        </button>
    </div>
    <div class="grid grid-cols-4 gap-8" id="search-results-container">
        {% for book in books %}
        <div class="card bg-white p-4 rounded-lg shadow-lg flex flex-col justify-between">
            <div class="mb-4 relative">
                <img src="{{ book.img_src }}" alt="Buku" class="rounded-lg w-full h-auto">
                <div class="absolute top-4 right-4">
                    <button class="bookmark-button">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#34D399" class="bookmark-icon h-12 w-12">
                            <path strokeLinecap="round" strokeLinejoin="round" strokeWidth="8" d="M4 6a2 2 0 012-2h12a2 2 0 012 2v16l-7-3.5L4 22V6z"></path>
                        </svg>
                    </button>
                </div>
            </div>
            <div>
                <p class="text-lg font-bold mb-1/2">{{ book.title }}</p>
                <p class="text-black font-normal mb-2">{{ book.author }}</p>
                <button class="mt-5 w-full bg-white text-black rounded border border-sky-600 py-2">Baca</button>
            </div>
        </div>
        {% endfor %}
    </div>
</main>

<script src="{% static 'javascript/main_search.js' %}"></script>

<script>
    $(document).ready(function() {
        $('#toggleButton').click(function() {
            event.preventDefault();
            $('#downArrow, #upArrow').toggle();
        });
    });

</script>