{% extends '_base.html' %}
{% load static %}
{% load mathfilters %}

{% block meta %}
<title>KutuBuku</title>
{% endblock meta %}

{% block content %}
<main>
  <div class="pt-36">
    <div class="mx-60 flex flex-row">
      <img class="object-contain h-96" src="{{ book.img_src }}">
      <div class="ml-20 w-full flex flex-col space-y-10">
        <div class="mb-2">
          {% for i in "12345"|make_list %}
            {% if i|add:0 <= book.score|intdiv:20 %} <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" class="w-20 h-20 inline-block text-yellow-400">
              <path d="M12 2l2.4 7.2h7.6l-6.16 4.68l2.56 7.44l-6.4-4.64l-6.4 4.64l2.56-7.44l-6.16-4.68h7.6z"></path>
              </svg>
            {% else %}<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-20 h-20 inline-block text-gray-400">
              <path d="M12 2l2.4 7.2h7.6l-6.16 4.68l2.56 7.44l-6.4-4.64l-6.4 4.64l2.56-7.44l-6.16-4.68h7.6z"></path>
              </svg>
            {% endif %}
          {% endfor %}
        </div>
        <h1 class="text-5xl font-raleway font-bold">{{ book.title }}</h1>
        <p class="text-lg font-raleway font-light">{{ book.author }}</p>
        <button class="text-sm font-raleway font-light border border-bg_secondary rounded-full py-2">{{ book.author }}</button>
        <p class="text-base font-raleway font-light">{{ book.synopsis }}</p>
        <button type="button" class="w-60 mulai-membaca text-black bg-transparent hover:bg-blue-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-transparent dark:hover:bg-blue-100 dark:focus:ring-blue-800 border border-blue-700">
          Mulai membaca
          <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M1 5h12m0 0L9 1m4 4L9 9" />
          </svg>
        </button>
      </div>
    </div>
    <h1 class="flex w-full text-5xl font-raleway font-bold my-10 items-center justify-center">Ingin Mengulas Buku Ini?</h1>
    <div class="text-center">
        <span class="flex flex-row-reverse justify-center pb-5">
          <button class="w-8 h-8 text-gray-600 cursor-pointer peer peer-focus:text-yellow-400 peer-hover:text-yellow-400 hover:text-yellow-400 focus:text-yellow-400 duration-100 star">
            <svg width="23" height="23" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" stroke="currentColor">
              <path d="M12 2l2.4 7.2h7.6l-6.16 4.68l2.56 7.44l-6.4-4.64l-6.4 4.64l2.56-7.44l-6.16-4.68h7.6z"></path>
            </svg>
          </button>

          <button class="w-8 h-8 text-gray-600 cursor-pointer peer peer-focus:text-yellow-400 peer-hover:text-yellow-400 hover:text-yellow-400 focus:text-yellow-400 duration-100 star">
            <svg width="23" height="23" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" stroke="currentColor">
              <path d="M12 2l2.4 7.2h7.6l-6.16 4.68l2.56 7.44l-6.4-4.64l-6.4 4.64l2.56-7.44l-6.16-4.68h7.6z"></path>
            </svg>
          </button>

          <button class="w-8 h-8 text-gray-600 cursor-pointer peer peer-focus:text-yellow-400 peer-hover:text-yellow-400 hover:text-yellow-400 focus:text-yellow-400 duration-100 star">
            <svg width="23" height="23" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" stroke="currentColor">
              <path d="M12 2l2.4 7.2h7.6l-6.16 4.68l2.56 7.44l-6.4-4.64l-6.4 4.64l2.56-7.44l-6.16-4.68h7.6z"></path>
            </svg>
          </button>

          <button class="w-8 h-8 text-gray-600 cursor-pointer peer peer-focus:text-yellow-400 peer-hover:text-yellow-400 hover:text-yellow-400 focus:text-yellow-400 duration-100 star">
            <svg width="23" height="23" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" stroke="currentColor">
              <path d="M12 2l2.4 7.2h7.6l-6.16 4.68l2.56 7.44l-6.4-4.64l-6.4 4.64l2.56-7.44l-6.16-4.68h7.6z"></path>
            </svg>
          </button>

          <button class="w-8 h-8 text-gray-600 cursor-pointer peer peer-focus:text-yellow-400 peer-hover:text-yellow-400 hover:text-yellow-400 focus:text-yellow-400 duration-100 star">
            <svg width="23" height="23" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" stroke="currentColor">
              <path d="M12 2l2.4 7.2h7.6l-6.16 4.68l2.56 7.44l-6.4-4.64l-6.4 4.64l2.56-7.44l-6.16-4.68h7.6z"></path>
            </svg>
          </button>
        </span>
      </div>
    <form method="post" class="items-center justify-center text-center flex flex-col pb-20">
      {% csrf_token %}
      <textarea class="w-5/12 h-32 mb-5 border border-bg_secondary" placeholder="Tulis ulasanmu disini..." name="comment"></textarea>
      <button class="py-2 px-4 w-32 font-raleway transition-all duration-150 bg-bg_secondary rounded-full shadow outline-none active:bg-background hover:shadow-md focus:outline-none ease" type="submit" value="Submit">Submit</button>
    </form>
    <h1 class="flex w-full text-5xl font-raleway font-bold my-10 items-center justify-center">Ulasan Buku</h1>
    <div class="ulasan_ulasan items-center justify-center flex flex-col font-raleway">
      {% for u in ulasan %}
        <div class="p-2 items-start w-5/12 h-32 bg-bg_secondary rounded-xl m-5">
          <p class="text-lg font-bold">{{ u.user }}</p>
          <p>{{ u.comment }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</main>
{% endblock content %}