.buku {
  padding: 4em;
}

.genre {
  border: 2px solid rgb(30, 238, 169);
  border-radius: 20px;
  text-align: center;
  width: 120px;
  padding: 3px;
  margin: 10px;
}

.sinopsis {
  padding: 1rem;
}

.mulai-membaca {
  width: 170px;
}

.custom-heading {
  font-family: 'Montserrat', sans-serif;
}

.text-ulasan {
  width: 50%;
  height: 80px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
}

.button-color {
  background-color: rgb(30, 238, 169);
  color: black;
  padding: 3px 40px;
}

.button-color:hover {
  background-color: rgb(124, 252, 209);
}

.kategori-ulasan label {
  flex: 1;
  text-align: left;
  margin-right: 10px;
}

#kategori-ulasan {
  text-align: center;
  border: 2px solid #ccc;
  padding: 2px;
  border-radius: 10px;
  margin: 10px;
}

.bubble-ulasan li {
  margin-bottom: 10px;
}

.bubble-ulasan {
  width: 50%;
  overflow: auto;
  border-radius: 20px;
  padding: 10px;
  background-color: rgb(169, 254, 226);
  margin: 0 auto 20px;
}