@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: rgba(59, 237, 183, 0.15);
    --background-secondary: rgba(59, 237, 183, 1);
    --foreground: black;
    --border: rgba(1, 1, 1, 0.5);
  }
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@layer base {
  :root {
    --background: rgba(59, 237, 183, 0.15);
    --background-secondary: rgba(59, 237, 183, 1);
    --foreground: black;
    --border: rgba(1, 1, 1, 0.5);
  }
}